.Home{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
        grid-template-rows: 1fr .1fr;
        gap: 50px;
        align-items: center;
        padding-top: 1%;
        padding-left: 15%;
        padding-right: 15%;
        color: rgb(109, 1, 107);
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
        font-weight: 500;
        font-style: italic;
        
}